* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
  color: #213547;
}

button {
  font-family: inherit;
}